# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# FastAPI / Uploads
/uploads/
.env
test.db

# Node
node_modules/
dist/
.env.local
.env.*.local

# Logs
*.log

# VS Code
.vscode/

# React build
/build/
public/build/
*.lock
