.tela_final_container {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.titulo_final {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.texto_final {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}

.recomendacoes_lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  color: #333;
  text-align: center;
}

.recomendacoes_lista li {
  margin: 10px 0;
}

.final_button {
  width: 100%;
  padding: 12px 20px 12px 20px;
  font-weight: bold;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  position: relative;
}

.final_button:hover {
  background-color: #f0f0f0;
  color: #000000;
  border: 2px solid #000000;
}

.mensagem_nenhum{
  color: #000000a2;
  
}
