/* Container do upload de documentos */
.upload_container {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Ícone de cadastro */
.icone_cadastro {
    width: 60px;
    height: 60px;  
    padding: 2px;
}

/* Títulos e textos */
.titulo_upload {
    color: #000000;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.identificacao {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.aviso {
    color: #000000ab;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Container dos inputs de upload */
.upload_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px; /* Reduzido o padding para um ajuste mais compacto */
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #def0f1;
    margin-bottom: 15px;
    width: 100%;
    max-width: 460px; /* Ajuste o tamanho máximo para garantir que não ultrapasse o quadrado maior */
}


/* Ícone do documento */
.documento_icone {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

/* Inputs do formulário */
.upload_input_real {
    font-size: 16px;
    color: #000000;
    background: transparent;
    border: none;
}

/* Formulário de upload */
.upload_form {
    display: flex;
    flex-direction: column;
}

/* Labels de inputs */
.upload_label {
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}

/* Estilo do select de upload */
.upload_select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
}

/* Estilo do input de texto */
.upload_input {
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #b7d1d37a;
    color: #000000;
    width: 100%;
}

/* Estilo do input de arquivo (oculto) */
.hidden_file_input {
    display: none;
}

/* Botão customizado para escolha de arquivo */
.custom_file_button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 16px;
    text-align: center;
}

/* Efeito hover do botão de arquivo */
.custom_file_button:hover {
    background-color: #f0f0f0;
    color: #000000;
    border: 3px solid #000000;
}

/* Container de arquivos selecionados */
.upload_file_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

/* Nome do arquivo carregado */
.upload_file_name {
    font-size: 14px;
    color: #333;
    word-break: break-word;
    text-align: center;
    margin-top: 10px;
}

/* Botão para enviar o formulário */
.upload_button {
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    border: 3px solid #fff;
    border-radius: 3px;
    width: 100%;
}

/* Estado desabilitado do botão */
.upload_button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Efeito hover no botão de envio */
.upload_button:hover {
    background-color: #f0f0f0;
    color: #000000;
    border: 3px solid #000000;
}

/* Texto de privacidade */
.upload_privacy_text {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
    text-align: center;
}

/* Texto de erro */
.upload_erro_text {
    color: #ff0000;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}

/* Adicionando responsividade para telas pequenas */
@media (max-width: 600px) {
    .upload_container {
        padding: 15px;
        margin: 15px;
    }

    .titulo_upload {
        font-size: 20px;
    }

    .upload_input_container {
        padding: 10px;
    }

    .upload_label {
        font-size: 14px;
    }

    .upload_button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .custom_file_button {
        font-size: 14px;
    }

    .upload_file_name {
        font-size: 12px;
    }
}
    