.cadastro_container {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.cadastro_form {
  display: flex;
  flex-direction: column;
}

.titulo_cadastro {
  color: #000000;
}

/* Label dos inputs */
.cadastro_label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

/* Inputs de texto */
.cadastro_input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.cadastro_input:focus {
  border-color: #0e76a8; /* Azul leve quando focado */
}

/* Textarea */
.cadastro_textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  resize: vertical;
  min-height: 100px;
}

.cadastro_textarea:focus {
  border-color: #0e76a8;
}

/* Checkbox container */
.cadastro_checkbox_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Checkbox quadradinho */
.cadastro_checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

/* Label do checkbox */
.cadastro_label_checkbox {
  margin: 0;
  font-weight: bold;
  color: #333;
  line-height: 1.4;
}

/* Texto de privacidade */
.cadastro_privacy_text {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  text-align: center;
}
  